.error-box{padding:8px;border:4px solid #f44336;border-radius:8px;border-style:dashed;color:#f44336}.error-box__title{text-align:center;font-size:100px;font-weight:800;text-shadow:4px 4px 0 #fff,6px 6px 0 #b71c1c}.error-box__subtitle{text-align:center;margin-bottom:16px}